<div class="col-md-8">

    <h1>Listing Quizzes</h1>

     <%= render 'shared/quiz_header' %>

      <%= render @quizzes %>

    </table>

    <br>
    <%= link_to 'New Quiz', new_quiz_path %><br>
    <%= link_to 'Main Page', root_path %>

</div>