<tr class="answers">
  <td class="answer_hint"><%= answer.hint %></td>
  <td class="answer_solution"><%= answer.solution %></td>
  <td></td>
  <% if user_signed_in? && current_user == @quiz.user_id %>
      <div class="answer_edits">
        <td><%= link_to 'Edit Answer', [:edit, @quiz, answer] %></td>
        <td><%= link_to 'Remove Answer', [@quiz, answer], method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </div>
  <% end %>
</tr>
