<h1>Add Answers for <%= @answer.quiz.name %></h1>

<%= render 'form' %>

<%= link_to 'Back', quiz_path(@answer.quiz) %>

<!--<table class="table answers">-->
  <!--<tr class=headings>-->
    <!--<th>Hint</th>-->
    <!--<th>Solution</th>-->
  <!--</tr>-->

<!--&lt;!&ndash;<= render @answers %>&ndash;&gt;-->

<!--</table><br><br>-->