<%= form_for @game do |f| %>

    <div class="fields">
      <% f.hidden_field :quiz_id %><br/>
      <% f.hidden_field :correct_ans, value: 0 %>
      <!--<= f.hidden_field :user_id %>-->
    </div>

    <div class="actions">
      <%= f.submit "Start Game!" %>
    </div>
<% end %>
