/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  height: 100%;
  padding-top: 50px;
  margin-bottom: 0;
  background-color: #ADD8E6;
}

.answer_solution {
  display: none;
  color: red;
}

.answer_solution_correct {
  color: green;
}

//.navbar {
//  background-color: #ADD8E6;
//}

.col-md-1 {
  background-color: #FFFFFF;
}

#live_game {
  display: none
}