// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
}

input {
  width: 10px;
}

//
//.high_score_header {
//  text-align: center;
//}

.answer_count {
  display: none;
}
#btn-pause {
  display: none;
}
#btn-reset {
  margin-right: 10px;
}
#clock {
  margin-bottom: 0;
}

//.timer {
//  display: none;
//}

div#clock {
  font-weight: bold;
}

//.timer .starter-template {
//  /*padding: 40px 15px;*/
//  text-align: center;
//}
