<div class="col-md-8">

<%= react_component 'Quizzes', {data: @quizzes, category: @category.id} %>

  <br>
  <%= link_to 'Main Page', root_path %><br>
  <%= link_to 'Back', categories_path %>

</div>
